<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="flex items-center justify-center pt-10 max-w-xl mx-auto"
>
  <div class="w-full px-5 flex flex-col gap-y-2">
    <ng-container *ngFor="let error of serverErrors">
      <div
        *ngIf="error.object === 'changePasswordDto'"
        class="text-red-600 font-semibold"
      >
        {{ error.defaultMessage }}
      </div>
    </ng-container>

    <div class="flex flex-col">
      <label>Current password</label>
      <input
        pPassword
        class="w-full"
        formControlName="oldPassword"
        [feedback]="false"
        type="password"
      />
      <div
        *ngIf="
          submitted ||
          form.get('oldPassword')?.touched ||
          form.get('oldPassword')?.dirty
        "
        class="text-red-600"
      >
        <div *ngIf="form.get('oldPassword')?.hasError('required')">
          Current password is required!
        </div>
      </div>
      <ng-container *ngFor="let error of serverErrors">
        <div
          *ngIf="error.field === 'oldPassword'"
          class="text-red-600 font-semibold"
        >
          {{ error.defaultMessage }}
        </div>
      </ng-container>
    </div>

    <div class="flex flex-col">
      <label>Password</label>
      <input
        pPassword
        class="w-full"
        formControlName="password"
        [feedback]="false"
        type="password"
      />
      <div
        *ngIf="
          submitted ||
          form.get('password')?.touched ||
          form.get('password')?.dirty
        "
        class="text-red-600"
      >
        <div *ngIf="form.get('password')?.hasError('required')">
          Password is required!
        </div>
      </div>
      <ng-container *ngFor="let error of serverErrors">
        <div
          *ngIf="error.field === 'password'"
          class="text-red-600 font-semibold"
        >
          {{ error.defaultMessage }}
        </div>
      </ng-container>
    </div>

    <div class="flex flex-col">
      <label>Password confirmation</label>
      <input
        pPassword
        class="w-full"
        formControlName="matchingPassword"
        [feedback]="false"
        type="password"
      />
      <div
        *ngIf="
          submitted ||
          form.get('matchingPassword')?.touched ||
          form.get('matchingPassword')?.dirty
        "
        class="text-red-600"
      >
        <div *ngIf="form.get('matchingPassword')?.hasError('required')">
          Password confirmation is required!
        </div>
        <div *ngIf="form.errors?.['confirmedPassword']">
          Password and password confirmation are not matching!
        </div>
      </div>
      <ng-container *ngFor="let error of serverErrors">
        <div
          *ngIf="error.field === 'matchingPassword'"
          class="text-red-600 font-semibold"
        >
          {{ error.defaultMessage }}
        </div>
      </ng-container>
    </div>

    <button pButton label="Change password" [loading]="loading"></button>
  </div>
</form>
